layout_python python3.7
if [ -f .envrc-secret ]; then
    echo -e '\033[0;32m'".envrc-secret file found"'\033[0m'
    . .envrc-secret
    if [ -z "${BBB_URL}" ]; then
        echo -e '\033[0;31m'BBB_URL not defined in .envrc-secret'\033[0m'
    fi
    if [ -z "${BBB_SECRET}" ]; then
        echo -e '\033[0;31m'BBB_SECRET not defined in .envrc-secret'\033[0m'
    fi
else
    echo -e '\033[0;31m'Please add your BBB URL and secret to the file .envrc-secret'\033[0m'
    echo Example:
    echo -e '\033[0;32m'echo "export BBB_URL=https://my-bbb-server-url.com > .envrc-secret"'\033[0m'
    echo -e '\033[0;32m'echo "export BBB_SECRET=aaabbbcccdddeeefffggghhhiiijjj >> .envrc-secret"'\033[0m'
    echo -e and rerun '\033[0;32m'direnv allow'\033[0m'
fi
